.users-container{
    background-color: #f0f9ff; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    padding: 1rem; 
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; 
    border-radius: 0.5rem; 
}

.users-header{
        font-size: 1.25rem; 
        font-weight: bold; 
}

.users-parentContainer{
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        margin: 20px;
        padding: 20px;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
}